<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>アカウント情報更新</title>
</head>
<body>
            <h2>アカウント情報更新</h2>
                            <h3>更新内容入力</h3>
                            <form id="accountForm" th:action="@{/account/update/confirm}" th:object="${accountUpdateForm}" method="post">
                                <div  th:if="${#fields.hasGlobalErrors()}">
                                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">共通エラーメッセージ表示エリア</p>
                                </div>
                                <fieldset id="account_field">
                                    <div  th:classappend="${#fields.hasErrors('accountid')}? 'has-error'">
                                        <label for="accountid">アカウントID</label><br/>
                                        <input  id="accountid" type="text" maxlength="15" name="accountid" th:field="*{accountid}" required/>
                                        <span  th:if="${#fields.hasErrors('accountid')}" th:errors="*{accountid}">error!</span>
                                    </div>
                                    <div  th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                                        <label for="name">氏名</label><br/>
                                        <input  id="name" type="text" maxlength="45" name="name" th:field="*{name}" required/>
                                        <span  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error!</span>
                                    </div>
                                    <div  th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                                        <label for="password">Password</label><br/>
                                        <input id="password" type="text" maxlength="50" name="password" th:field="*{password}" required/>
                                        <span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error!</span>
                                    </div>
                                        <input type="submit" value="確認画面へ" class="btn btn-info text-white btn-lg"/>
                                </fieldset>
                            </form>
</body>
</html>