<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--<title>一括アップロード</title>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--<link rel="stylesheet" href="./webjars/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css"></link>-->
<!--&lt;!&ndash;[if lt IE 9]>-->
<!--<script type="text/javascript" src="./javascript/ie8/html5shiv.js"></script>-->
<!--<script type="text/javascript" src="./javascript/ie8/respond.js"></script>-->
<!--<script type="text/javascript" src="./javascript/ie8/jquery-1.11.3.min.js"></script>-->
<!--<![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if gte IE 9]>&lt;!&ndash;>-->
<!--<script type="text/javascript" src="./webjars/jquery/2.1.4/jquery.min.js"></script>-->
<!--&lt;!&ndash;<![endif]&ndash;&gt;-->
<!--<script type="text/javascript" src="./webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="./javascript/data_upload_view.js"></script>-->
<!--<script type="text/javascript" src="./javascript/common.js"></script>-->
<!--<script type="text/javascript" src="./javascript/datetimepicker/jquery.datetimepicker.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--&lt;!&ndash; タイトル部 &ndash;&gt;-->
<!--<div class="row">-->
<!--<p><h1 id="title">一括アップロード</h1></p>-->
<!--</div>-->
<!--&lt;!&ndash; ヘッダー部 &ndash;&gt;-->
<!--<div class="row">-->
<!--&lt;!&ndash; パンくずリスト &ndash;&gt;-->
<!--<div class="col-md-4 col-lg-4">-->
<!--<ul class="breadcrumb">-->
<!--<li><a href="menu">Menu</a></li>-->
<!--<li class="active">一括アップロード</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-md-4 col-lg-4"></div>-->
<!--<div class="col-md-4 col-lg-4"></div>-->
<!--</div>-->
<!--&lt;!&ndash; ファイル情報部 &ndash;&gt;-->
<!--<div class="row">-->
<!--<div class="col-md-2 col-lg-2"></div>-->
<!--<div class="col-md-8 col-lg-8">-->
<!--<div class="well well-sm">-->
<!--<div>アップロードするファイルを選択して、アップロードボタンを押下してください。</div>-->
<!--<br />-->
<!--<form id="data_upload_form" enctype="multipart/form-data" method="post">-->
<!--<div class="form-group">-->
<!--<label>■ファイル種類：</label>-->
<!--<select id="select_file_type" name="select_file_type" required="">-->
<!--<option value="login-user">ログインユーザー</option>-->
<!--&lt;!&ndash; アップロードするファイルを定義していく &ndash;&gt;-->
<!--</select>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>■ファイルパス：</label>-->
<!--<input type="file" id="upload_file" name="upload_file" required="" />-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input id="data_upload_button" type="submit" value="アップロード" />-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-2 col-lg-2"></div>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!--<script type="text/javascript">-->
<!--// 主処理部-->
<!--$(function(){-->

<!--// アップロードボタンを押下した-->
<!--$("#data_upload_form").submit(function(event){-->
<!--// 要素規定の動作をキャンセルする-->
<!--event.preventDefault();-->

<!--var ajaxUrl = "file/upload?";-->
<!--// ファイル種類-->
<!--ajaxUrl += "filetype=" + $("#select_file_type option:selected").val();-->

<!--if(window.FormData){-->
<!--var formData = new FormData($(this)[0]);-->

<!--$.ajax({-->
<!--type : "POST",                  // HTTP通信の種類-->
<!--url  : ajaxUrl,                 // リクエストを送信する先のURL-->
<!--dataType : "text",              // サーバーから返されるデータの型-->
<!--data : formData,                // サーバーに送信するデータ-->
<!--processData : false,-->
<!--contentType: false,-->
<!--}).done(function(data) {        // Ajax通信が成功した時の処理-->
<!--alert("アップロードが完了しました。");-->
<!--}).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理-->
<!--alert("アップロードが失敗しました。");-->
<!--});-->
<!--}else{-->
<!--alert("アップロードに対応できていないブラウザです。");-->
<!--}-->
<!--});-->
<!--});-->
<!--}-->
<!--</script>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>

    <meta charset="UTF-8"/>
    <title>プロフィール画像アップロード</title>
</head>
<body>


<div class="container py-3">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h2 class="text-center pb-4">プロフィール画像アップロード</h2>
            <div class="row">
                <div class="col-md-12 mx-auto">

                    <div class="card rounded-0 card-shadow">
                        <div class="card-header bg-custom1">
                            <h3 class="mb-0">プロフィール画像アップロード</h3>
                        </div>
                        <div class="card-body">
                            <form id="data_upload_form" name="data_upload_form" enctype="multipart/form-data" method="post">
                                <span>ファイルのサイズは1Mバイト以下にしてください。</span><br>
                                <div class="row">
                                    <div class="col-md-6 mx-auto">
                                        <span>現在のプロフィール画像</span><br>
                                        <div id="nowImage"></div>
                                    </div>
                                    <div class="col-md-6 mx-auto">
                                        <span>更新後のプロフィール画像</span><br>
                                        <div id="imagePreview" class="imagePreview"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <span class="btn btn-info">
                                            ファイル選択
                                            <input type="file" id="upload_file" name="upload_file" style="display:none" required="" />
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly="">
                                </div>

                                <div class="form-group">
                                    <input id="data_upload_button" type="submit" class="btn btn-info" value="アップロード" disabled/>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    window.onload = function () {
        $("#nowImage").empty();
        var url = "/image/myprofile";
        var xhr = new XMLHttpRequest();
        xhr.responseType = "arraybuffer";
        xhr.open("GET", url, true);
        xhr.onload = function () {
            var data = new Uint8Array(this.response);
            var oURL = URL.createObjectURL(
                new Blob([data], {type: "image/png"})
            );
            var image = new Image();
            image.onload = function () {
                URL.revokeObjectURL(oURL);
                $("#nowImage").append(image);
                $("#nowImage > img").css('width', 'auto').css('height', '200px');
            };
            image.src = oURL;
        };
        xhr.send(null);
    };

    $(function(){

        // アップロードボタンを押下した
        $("#data_upload_form").submit(function(event){
            // 要素規定の動作をキャンセルする
            event.preventDefault();

         // CSRFトークンをリクエストヘッダに付加する
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            var ajaxUrl = "/account/upload/upload";

            if(window.FormData){
                var formData = new FormData($(this)[0]);

                $.ajax({
                    type : "POST",                  // HTTP通信の種類
                    url  : ajaxUrl,                 // リクエストを送信する先のURL
                    dataType : "text",              // サーバーから返されるデータの型
                    data : formData,                // サーバーに送信するデータ
                    processData : false,
                    contentType: false,
                }).done(function(data) {            // Ajax通信が成功した時の処理
                    alert("アップロードが完了しました。");
                }).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
                    alert("アップロードが失敗しました。");
                });
            }else{
                alert("アップロードに対応できていないブラウザです。");
            }
        });
    });
    $(document).on('change', ':file', function() {
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.parent().parent().next(':text').val(label);

        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
        if (/^image/.test( files[0].type)){ // only image file
            var reader = new FileReader(); // instance of the FileReader
            reader.readAsDataURL(files[0]); // read the local file
            if(files[0].size < 1024000){
                reader.onloadend = function(){ // set image data as background of div
                    $("#imagePreview").css("background-image", "url("+this.result+")");
                    $("#data_upload_button").attr('disabled', false);
                }
            }else{
                $("#data_upload_button").attr('disabled', true);
                $("#imagePreview").css("background-image", "");
                var errMsg ="1MB以下のファイルを選択してください。";
                alert(errMsg);
                input.parent().parent().next(':text').val(errMsg);
            }
        }else{
            $("#data_upload_button").attr('disabled', true);
            $("#imagePreview").css("background-image", "");
            var errMsg ="画像ファイル以外が選択されました。";
            alert(errMsg);
            input.parent().parent().next(':text').val(errMsg);
        }
    });
</script>

</body>
</html>