<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ユーザー登録</title>
</head>
<body>
            <h2>新規アカウント登録</h2>
                            <h3>アカウント情報入力</h3>
                            <form id="accountForm" th:action="@{/account/register/confirm}" th:object="${accountRegisterForm}" method="post">
                                <fieldset id="account_field">
                                    <div>
                                        <label>アカウントID
                                            <input  type="text" th:field="*{accountid}" name="accountid" required placeholder="アカウントIDを入力してください"/>
                                        </label><br/>
                                    </div>
                                    <div>
                                        <label>氏名
                                            <input type="text" th:field="*{name}" name="name" required placeholder="氏名を入力してください"/>
                                        </label><br/>
                                    </div>
                                    <div>
                                        <label >パスワード
                                            <input   type="password"  th:field="*{password}" name="password" required placeholder="パスワードを入力してください"/>
                                        </label><br/>
                                                  </div>
                                      <input type="submit" value="確認画面へ" />
                                </fieldset>
                            </form>
    </body>
</html>