<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>アカウント情報更新確認</title>
</head>
<body>


            <h2 >アカウント情報更新</h2>
                            <h3>更新内容確認</h3>
                            <form id="accountForm" th:action="@{/account/update/do}" th:object="${accountUpdateForm}" method="post">
                                <fieldset id="account_field">
                                        <label>アカウントID</label><br/>
                                        <span class="form-control-static" th:text="*{accountid}"></span>
                                        <label>氏名</label><br/>
                                        <span  th:text="*{name}"></span>
                                    <div  th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                                        <label>Password</label><br/>
                                        <span  th:text="*{password}"></span>
                                    </div>
                                    <input type="hidden" name="accountid" id="accountid" th:value="*{accountid}"/>
                                    <input type="hidden" name="name" id="name" th:value="*{name}"/>
                                    <input type="hidden" name="password" id="password" th:value="*{password}"/>
                                            <input type="submit" name="back" value="戻る" class="btn bg-custom3 btn-lg text-white "/>
                                            <input type="submit" name="update" value="更新" class="btn bg-custom3 btn-lg text-white "/>
                                </fieldset>
                            </form>
</body>
</html>