<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ログイン</title>
</head>
<body>
<div>
            <div>
                <h1>家計簿アプリ</h1>
                <hr>
                <p>
                    <strong>家計簿をつけましょう</strong>
                </p>
            </div>
                <h3>Login</h3>

                        <form id="login_form" method="post" th:action="@{'/login'}">
                            <div>
                                <label >アカウントID
                                    <input type="text"  name="accountId" placeholder="アカウントID:" autofocus required/>
                                </label>
                            </div>
                                <label >パスワード
                                    <input type="password"  name="password" placeholder="パスワード: " required />
                                </label>
                                <br>
                                <input id="login" type="submit" value="ログイン"/>
                                <br/>
                        </form>
                        <form id="account_form" method="post" th:action="@{'/account/register/init'}">
                            <input id="accountRegister" type="submit" value="新規アカウント作成" />
                        </form>
                    </div>
                </div>
</body>
</html>