<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>トップ</title>
</head>
<body style="background-color:#66CCFF">

                    <span>家計簿</span>
                <div>
                        <a href="/income/register/init">今日の収入/支出を登録しよう</a>
                    </div>
                    <div>
                        <a href="/account/update/init">アカウント情報を更新しよう</a>
                    </div>
                    <div>
                        <a href="/account/search/init">アカウント情報を検索しよう</a>
                    </div>
                    <div>
                        <a href="/account/upload/init">アカウント画像を設定しよう</a>
                    </div>
                    <div>
                        <a href="/account/unsubscribe/init">退会しよう</a>
                    </div>
                    <!--<div>-->
                        <!--<a href="/category/register/init">収入/支出のカテゴリを追加しよう </a>-->
                    <!--</div>-->

                    <hr>
                    <h3>収支一覧</h3>
                    <!--<form  th:object="${income}" method="post">-->
                        <!--<table>-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td th:text="タイトル"></td>-->
                                <!--<td th:text="*{title}"></td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td th:text="カテゴリ"></td>-->
                                <!--<td th:utext="*{category}"></td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td  th:text="開始日"></td>-->
                                <!--<td  th:text="*{date}"></td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td  th:text="金額"></td>-->
                                <!--<td  th:text="*{value}"></td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->


            <!--<div  th:if="!${#lists.isEmpty(list)}">-->
                        <!--<div th:each="income : ${list}">-->
                            <!--<div>-->
                                <!--<p th:text="${income.title}"></p>-->
                                <!--<p th:text="'\:' + ${income.value}"></p>-->
                                <!--<p th:text="'カテゴリ:' + ${income.category}"></p>-->
                                <!--<p th:text="'登録日:' + ${income.date}"></p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
</body>
</html>